In [1]:
import pandas as pd
import numpy as np 
import zipfile

In [2]:
zf = zipfile. ZipFile('IMDB Dataset.csv.zip')

In [3]:
data = pd. read_csv(zf. open('IMDB Dataset.csv'))

In [4]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
data['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

# Text Cleaning

# 1.Sample 10000 rows
# 2.Remove html Tags.
# 3.Remove Special characters.
# 4.Converting every thing to lower case.
# 5.Removing Stop Words.
# 6.Stemming.

In [6]:
df = data.sample(10000)

In [7]:
df.shape

(10000, 2)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 30743 to 26952
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [9]:
# replace +ve to 1 and -ve to 0 .
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [10]:
df.head()

                                                  review  sentiment
30743  Some critics found this film bleak, but for me...          1
27909  I have to admit that in spite of all media pro...          0
26637  If you rent a movie titled "Exterminators of t...          0
24376  An egotistic major league baseball player is f...          1
238    This is yet another western about a greedy cat...          1

In [12]:
# To remove html tags.
import re
clean = re.compile('<.*?>')
re.sub(clean,'',df.iloc[2].review)

'If you rent a movie titled "Exterminators of the year 3000," the odds are good you know what you\'re getting yourself into. I myself was sold by the promising descriptions of "nuke mutants," "motor-psychos," and of course the "exterminators" themselves which, according to the back of the movie-store case, are all cavorting around a post-apocalyptic barren wasteland wreaking all sorts of mayhem. Let the wacky hijinks and low budget buffoonery ensue--at least, such were my hopes for this "film."Now I like the occasional terrible movie, and if you\'re reading the comments on Exterminators of the Year 3000, you probably do too. That being said, I rated this film a solid "1(awful)"--not because I completely hated the film but because it is one of the most legitimately dreadful efforts at movie-making I have ever seen. The dialogue, the acting, the cinematography, the sound-editing, the editing in general, the plot, etc., etc., etc--all are worthy of what must surely be low spectator expectations given that marvelous title.So what is really "good" about this bad movie? It does have several of what my circle affectionately terms "quality kills." A quality kill, for those few of you unfamiliar with the phrase, isn\'t a hard and fast term, but in general refers to someone killed in a particularly gruesome, creative, or ridiculous fashion.Exterminators of the Year 3000 also has a fair supply of "dialogue-so-bad-it-becomes-funny," provided in great part by Crazy Bull, the aptly titled leader of the hapless motor-psycho gang--who incidentally also provide most of the quality kills (if you\'re hoping for big things from the nuke mutants, think again, they play essentially zero part in the movie...shucks!). Crazy Bull, however, is all you could ask for in a b-movie motor-psycho. Shakespearean paraphrase and oddly PG-style insults are all he knows how to say...and that\'s terrific.Despite its quality kills and bad dialogue, however, if you\'re looking for a truly entertaining bad movie, Exterminators of the Year 3000 does disappoint somewhat in that with its draw limited to things like silly and outdated special effects, quality killing, and bad dialogue, there is simply not enough to justify a full feature length, owing principally to the forty minutes or so in which the audience is forced to follow the characters in protracted and boring car "chases" and long desert hiking sequences...All in all, a pretty good awful movie, but hey, it\'s no Death Race 2000.'

In [13]:
# Function to clean html tags.

def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean,'',text)

In [14]:
df['review']=df['review'].apply(clean_html)

In [15]:
# conveting everything to lower.
def convert_text(text):
    return text.lower()

In [16]:
df['review']=df['review'].apply(convert_text)

In [29]:
# function to remove special character

def remove_special(text):
    x =''
    
    for i in text:
        if i.isalnum():
            x = x+i
        else:
            x = x+' '
    return x

In [30]:
remove_special('hello this % is roshan @ kikani')

'hello this   is roshan   kikani'

In [31]:
df['review']=df['review'].apply(remove_special)

In [32]:
# to remove atop words
import nltk

In [33]:
from nltk.corpus import stopwords

In [38]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [41]:
def remove_stopwords(text):
    x=[]
    for i in text.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
    y = x[:]
    x.clear()
    return y

In [42]:
df['review']=df['review'].apply(remove_stopwords)

In [43]:
df.sample(6)

                                                  review  sentiment
47878  [cover, dvd, disc, freaking, awesome, would, t...          0
18929  [inspector, dirty, harry, callahan, angers, su...          1
6299   [would, say, first, quality, romantic, comedy,...          1
20216  [almost, masterclass, direct, movie, misjudged...          0
41257  [first, anything, going, praise, iñarritu, sho...          1
12423  [one, unique, horror, films, requires, much, m...          1

In [44]:
# perform steamming
# [playing,played,play] = play <-- this is work of PorterStemmer

from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [48]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [50]:
df['review']=df['review'].apply(stem_words)

In [51]:
# Join Back

def join_back(list_input):
    return " ".join(list_input)

In [52]:
df['review']=df['review'].apply(join_back)

In [53]:
x = df.iloc[:,0:1].values

In [54]:
x.shape

(10000, 1)

In [55]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [57]:
x = cv.fit_transform(df['review']).toarray()

In [58]:
x.shape

(10000, 36209)

In [59]:
x[0].max()

3

In [60]:
y = df.iloc[:,-1].values

In [61]:
y.shape

(10000,)

In [62]:
y

array([1, 0, 0, ..., 1, 0, 0], dtype=int64)

In [63]:
# now our data is ready to apply on Ml Algorithm.

In [64]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [65]:
x_train.shape

(8000, 36209)

In [66]:
x_test.shape

(2000, 36209)

In [68]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB , BernoulliNB

In [69]:
clf1 = GaussianNB()
clf2 = MultinomialNB()
clf3 = BernoulliNB()

In [70]:
clf1.fit(x_train,y_train)
clf2.fit(x_train,y_train)
clf3.fit(x_train,y_train)

BernoulliNB()

In [71]:
y_pred1 = clf1.predict(x_test)
y_pred2 = clf2.predict(x_test)
y_pred3 = clf3.predict(x_test)

In [72]:
from sklearn.metrics import accuracy_score

In [73]:
print("GaussianNB   :",accuracy_score(y_test,y_pred1))
print("MultinomialNB:",accuracy_score(y_test,y_pred2))
print("BernoulliNB  :",accuracy_score(y_test,y_pred3))

GaussianNB   : 0.631
MultinomialNB: 0.8365
BernoulliNB  : 0.839

In [74]:
# The End.