In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("play_tennis.csv")
df.drop('day',axis=1,inplace=True)

In [3]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [4]:
# problem 1 

# Outlook=Sunny , Temp=hot , humidity=High , Wind=Weak
# to predict play or no ?

In [5]:
# solution

# P(Yes | Sunny,Hot,High,Weak) = P(Sunny | Yes) * P(Hot | Yes) * P(High | Yes) * P(Weak | Yes)

# P(No | Sunny,Hot,High,Weak) = P(Sunny | No) * P(Hot | No) * P(High | No) * P(Weak | No)

# Compare and Decide using the Maximum a posteriori rule .

In [6]:
# problem 2 

# Outlook=Overcast , Temp=Cold , humidity=Low , Wind=Weak
# to predict play or no ?

In [7]:
# solution

# P(Yes | Overcast,Cold,Low,Weak) = P(Overcast | Yes) * P(Cold | Yes) * P(Low | Yes) * P(Weak | Yes)

# P(No | Sunny,Cold,Low,Weak) = P(Overcast | No) * P(Cold | No) * P(Low | No) * P(Weak | No)

# Compare and Decide using the Maximum a posteriori rule .

In [8]:
# machine learning algo work on 2 stage.

# stage 1 - Training 

# it is create Lookup Table (in Dict Form) , where all posibilties of probability are stores. 

# stage 2 - Testing

In [9]:
# making Lookuptable

In [10]:
# P(Yes)
# P(No)

In [11]:
df['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [12]:
py = 9/14
pn = 5/14

print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [13]:
#  outlook

pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [14]:
PoNo = 0
PrNo = 2/5
PsNo = 3/5

PoYes = 4/9
PrYes = 3/9
PsYes = 2/9

In [15]:
#  temp

pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [16]:
PCoolNo = 1/5
PHotNo = 2/5
PMildNo = 2/5

PCoolYes = 3/9
PHotYes = 2/9
PMildYes = 4/9

In [17]:
#  humidity

pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [18]:
PHighNo = 4/5
PNornalNo = 1/5

PHighYes = 3/9
PNormalYes = 6/9

In [19]:
#  wind

pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [20]:
PStrongNo = 3/5
PWeakNo = 2/5

PStrongYes = 3/9
PWeakYes = 6/9

In [21]:
# complete of making Lookuptable work.

In [23]:
# Outlook=Sunny , Temp=hot , humidity=High , Wind=Weak

Pyes = py*PsYes*PHotYes*PHighYes*PWeakYes
PNo = pn*PsNo*PHotNo*PHighNo*PWeakNo

In [24]:
print(Pyes)
print(PNo)

0.007054673721340388
0.02742857142857143

In [25]:
# Concultion is No play .

In [27]:
# The End.