In [1]:
import numpy as np 
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('C:/Users/NIKUNJ KIKANI/Downloads/Book2.csv')

In [4]:
df.drop(['PassengerId','Name','Ticket','Cabin','Unnamed: 12'],axis=1,inplace=True)

In [5]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [6]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df.drop(['Survived'],axis=1),
                                                       df['Survived'],test_size=0.2,random_state=0)

In [7]:
x_train.shape , x_test.shape , y_train.shape , y_test.shape

((712, 7), (179, 7), (712,), (179,))

In [8]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [9]:
si_age=SimpleImputer()
si_embarked=SimpleImputer(strategy='most_frequent')

x_train_age=si_age.fit_transform(x_train[['Age']])
x_train_embarked= si_embarked.fit_transform(x_train[['Embarked']])

x_test_age=si_age.transform(x_test[['Age']])
x_test_embarked= si_embarked.transform(x_test[['Embarked']])

In [10]:
ohe_sex = OneHotEncoder(sparse=False,handle_unknown='ignore')
ohe_embarked = OneHotEncoder(sparse=False,handle_unknown='ignore')

x_train_sex = ohe_sex.fit_transform(x_train[['Sex']])
x_train_embarked = ohe_embarked.fit_transform(x_train_embarked)

x_test_sex = ohe_sex.transform(x_test[['Sex']])
x_test_embarked = ohe_embarked.transform(x_test_embarked)

In [11]:
x_train_embarked.shape , x_test_embarked.shape

((712, 3), (179, 3))

In [12]:
x_train_rem = x_train.drop(columns=['Sex','Age','Embarked'])
x_test_rem  = x_test.drop(columns=['Sex','Age','Embarked'])

In [13]:
x_train_transformed = np.concatenate((x_train_age,x_train_sex,
                                      x_train_embarked,x_train_rem),axis=1)

In [14]:
x_train_transformed

array([[29.74518389,  1.        ,  0.        , ...,  0.        ,
         2.        , 15.2458    ],
       [31.        ,  0.        ,  1.        , ...,  0.        ,
         0.        , 10.5       ],
       [31.        ,  0.        ,  1.        , ...,  1.        ,
         1.        , 37.0042    ],
       ...,
       [29.74518389,  0.        ,  1.        , ...,  0.        ,
         0.        ,  7.7333    ],
       [36.        ,  1.        ,  0.        , ...,  1.        ,
         0.        , 17.4       ],
       [60.        ,  0.        ,  1.        , ...,  1.        ,
         1.        , 39.        ]])

In [15]:
x_test_transformed = np.concatenate((x_test_age,x_test_sex,
                                      x_test_embarked,x_test_rem),axis=1)

In [16]:
clf = DecisionTreeClassifier()
clf.fit(x_train_transformed,y_train)

DecisionTreeClassifier()

In [17]:
y_pred = clf.predict(x_test_transformed)
y_pred

array([0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1], dtype=int64)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
accuracy_score(y_test,y_pred)

0.776536312849162

In [20]:
import pickle

In [21]:
pickle.dump(ohe_sex,open('ohe_sex.pkl','wb'))
pickle.dump(ohe_embarked,open('ohe_embarked.pkl','wb'))
pickle.dump(clf,open('clf.pkl','wb'))